@import './../../Style/global.scss';
@import './../../Style/color.scss';

.shop{

    width: 17%;
    //height: 100%;
    //position: absolute;
    top: 0px;
    right: 0px;
    
    /* background: url(img/panelBG.png); */
    background: rgba(0,0,0,0.5);

  .titleShop{
    font-size: 28px;
    text-shadow: 0px 1px 4px #000;
    color: #fff;

    text-align: center;
    padding: 8px;
    width: 100%;

    position: relative;
    width: 284px;
    background: url(img/blackGradientSmallTop.png) repeat-x top;
  }
  
  .storeSection{
    display: block;
  
    .crate{
      background-position:-384px -432px;
    }
  }

}