
.product{
  width: 100%;
  height: 64px;
  cursor: pointer;
  
  opacity: 0.6;
  background: url(https://orteil.dashnet.org/cookieclicker/img/storeTile.jpg);
  background-size: 99%;
  position: relative;
  -webkit-transition: opacity 0.25s ease-out, margin-bottom 0.1s ease-out;
  -moz-transition: opacity 0.25s ease-out, margin-bottom 0.1s ease-out;
   -ms-transition: opacity 0.25s ease-out, margin-bottom 0.1s ease-out;
   -o-transition: opacity 0.25s ease-out, margin-bottom 0.1s ease-out;
   transition: opacity 0.25s ease-out, margin-bottom 0.1s ease-out;
   border: none;
   text-align: left;
   line-height: inherit;

  display: flex;
  

   .icon {
    width: 64px;
    height: 64px;
    left: 0px;
    top: 0px;
    background: url(https://orteil.dashnet.org/cookieclicker/img/buildings.png?v=6);
    background-repeat: no-repeat;
    margin: 0px;
  }
   .info{
    
    .name{
        font-weight: bold;
        letter-spacing: -1px;
        font-size: 28px;
        text-shadow: 0px 1px 4px #000;
        color: #fff;
    }
    
    .price {
      display: inline-flex;;
      vertical-align: middle;
      font-weight: bold;
      color: #6f6;
      padding-left: 30px;
      position: relative;


  }

    .price:before {
      content: '';
      display: block;
      left: 0px;
      top: 53px;
      background: url(https://orteil.dashnet.org/cookieclicker/img/money.png);
      width: 16px;
      height: 16px;

  }
   }
   .count{
    right: 8px;
    bottom: 5px;
    margin-left: 40%;
    font-size: 40px;
    opacity: 0.2;
    color: #000;
    text-shadow: 0px 0px 8px #fff;
    letter-spacing: -2.5px;
   }
}
