.wave{
  width: 101%;
  height: 40ch;
  z-index: 4;
  bottom: 0;
  background-image: url(https://orteil.dashnet.org/cookieclicker/img/milkChocolate.png); 
  background-size: 500px; 
  animation:animationWave 30s ease infinite;
}
@keyframes animationWave {
 0%{background-position-x: 0px}      
 100%{background-position-x: 2000px};
}

