.oblastClicer {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  width: 30%;
}


button {
  size: 100;
  margin-top: 100px;
  margin-left: 90px;
  border: none;
  background: none;
}
button img{
  transition: 0.5s;
  size: 100;
  margin-top: 100px;
  margin-left: 90px;
  border: none;
  background: none;
}

button img:hover {
  transform: scale(1.2);
}
button img:active {
  transform: scale(0.3);
}

#cookies {
  position: absolute;
  /* left: 0px; */
  top: 10%;
  width: 100%;
  text-align: center;
  z-index: 200;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  padding: 2px 0px;
  pointer-events: none;
  text-shadow: 1px 0px 0px #000, -1px 0px 0px #000, 0px 1px 0px #000,
    0px -1px 0px #000, 0px 1px 4px #000;
}

.title,
.section,
.lockedTitle {
  font-size: 28px;
  text-shadow: 0px 1px 4px #000;
  color: #fff;
}
