@import './../../Style/global.scss';
@import './../../Style/color.scss';

.Area{
  width: 50%;
  button-top: 60px; 
  
  .header{
    background-size: 100%;
    height: 12%;
    display: flex;    
    justify-content: space-between;    
    align-items: center;

    .news{
      color:$while;
      padding: 16px 0px;
      opacity: 1;
      text-align: center;
      transition: text-shadow 0.25s,background 0.25s;
      border-radius: 8px;
    }

    #leftMenu{
      padding-left: 20px;
      background-position: 0px 0px;
    }

    #rightMenu{
      background-position: -100px -48px;
    }

    .Menu{
      background-size: 250px;
      height: 100%;
      width: 16%;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }

    button{   
    border-radius: 20px;
    border:#444;
    background: url(https://img.freepik.com/free-photo/wooden-texture_1208-334.jpg?w=1380&t=st=1659456998~exp=1659457598~hmac=8518c673bff4447a6acda44989c7c9a2b7e570114843f69b79200963dadb5175);
    margin-top: 15px;
    font-size: 18px;
    color:#999;
    text-shadow: 0px 1px 0px #444, 0px 0px 4px #000;
    }
  }
}