
 #objact{
  border: 16px solid #40c4c8;   
  -moz-border-image: url(https://orteil.dashnet.org/cookieclicker/img/panelVertical.png?v=2) 30 round round;
  -webkit-border-image: url(https://orteil.dashnet.org/cookieclicker/img/panelVertical.png?v=2) 30 round round; 
  -o-border-image: url(https://orteil.dashnet.org/cookieclicker/img/panelVertical.png?v=2) 30 round round;
  border-image: url(https://orteil.dashnet.org/cookieclicker/img/panelVertical.png?v=2) 30 round round;
  border-top: none;
  border-bottom: none;
}
