
.CookieShower{
  width:500px;
  height: 80ch;
  position: absolute; 
  z-index:0;
  background: url(https://orteil.dashnet.org/cookieclicker/img/cookieShower3.png);
  background-size: 500px;
  animation: AnimationCookieShower 25s ease infinite ;
}

@keyframes AnimationCookieShower{
  0%{
    background-position-y: 0px;
  }
  100%{
    background-position-y: 3000px;
  }
}